
@using yarn_rider.Models
@model yarn_rider.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    User currentUser = (User) Session["currentUser"];
}

<div>
    <h3>Profile</h3>
    <hr/>
    <dl class="dl-horizontal">

        <dd>
            <img src="@Html.DisplayFor(model => model.Avatar)" style="width: 10rem;"/>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailID)
        </dd>
        
        <dt>
            number of reviews:
        </dt>
        
        <dd>
            @{
                SiteDbContext db = new SiteDbContext();
                @db.Users.Find(currentUser.UserID).Reviews.Count
            }
        </dd>

    </dl>
</div>