@model IList<yarn_rider.Models.Movie>
@{
    ViewBag.Title = "Homepage";
}

@* <h3 class="mb-4">Welcome To yarn</h3> *@
@* <canvas id="myCanvas" width="500px" height="40px" style="color: #f0ad4e; font-weight: bold"></canvas> *@


<canvas id="myCanvas" width="500" height="40"></canvas>
    <script>

    var canvas = document.getElementById('myCanvas'); 
    var ctx = canvas.getContext('2d'); 
    
	ctx.font = '2rem Rubik';
        ctx.fillStyle = '#8e8f9e';
        ctx.fillText('Hello yarners', 0, 20);

   </script>

<div class="row justify-content-between m-0 p-0 ">
    <div class="alert alert-costume bg-secondary">
        <i class="fas fa-scroll pr-1"></i>
        yarn is a lignting-fast platform for streaming movie content.
        <a class="pl-2" style="font-weight:bold;" href="@Url.Action("Index", "Movie")">Start Browsing</a>
    </div>
</div>
<hr/>
<h3 class="mt-5 mb-4">Films Recently Added</h3>
<div class="row justify-content-between mb-4 p-0 ">

    @* getting the 5 last movies added to the db by looping through the movie list *@
    @for (var i = Model.Count - 1; i > Model.Count - 6; i--)
    {
        if (Model.Count < 5)
        {
            <p>You have less than 5 movies in the database. Add more to make this section display content.</p>
        }
        <div class="col-2 bg-secondary rounded p-1 m-0">
            <img class="img-fluid d-block rounded-top" alt="yarn"
                 src="@Model[i].PosterURL">
            <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
            <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
            <a style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0" href="@Url.Action("Details", "Movie", new {id = @Model[i].MovieID})">Details</a>
        </div>
    }

</div>


    @* <script> *@
    @* var c = document.getElementById("myCanvas"); *@
    @* var ctx = c.getContext("2d"); *@
    @* // ctx.font = "30px Arial"; *@
    @* ctx.font = "2rem Rubik"; *@
    @* ctx.fillText("Welcome To yarn",30,30); *@
    @* ctx.fillStyle = "#ffffff"; *@
    @* </script> *@