@model IList<yarn_rider.Models.Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-between">
    <div class="col">
        <h3>Stream Movies</h3>
    </div>

    <a href="@Url.Action("Create", "Movie")">
        <div class="btn btn-grey col text-right">
            Create New Movie
        </div>
    </a>

</div>

<hr/>

<!-- loop through all movies (each iteration adds row and 5 cols with movies  -->

@for (var i = 0; i < Model.Count;)
{
    @:<div class="row justify-content-between mb-4 p-0 ">

    if (i >= Model.Count)
    {
        break;
    }
    
    <div class="col-2 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].PosterURL">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
    </div>
    i++;

    if (i >= Model.Count)
    {
        break;
    }

    <div class="col-2 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].PosterURL">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
    </div>
    i++;

    if (i >= Model.Count)
    {
        break;
    }

    <div class="col-2 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].PosterURL">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
    </div>
    i++;

    if (i >= Model.Count)
    {
        break;
    }

    <div class="col-2 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].PosterURL">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
    </div>
    i++;

    if (i >= Model.Count)
    {
        break;
    }

    <div class="col-2 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].PosterURL">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].MovieName</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].Genre | @Model[i].Date </p>
    </div>
    i++;

    @:</div>
}