@model IList<yarn_rider.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<h3>Reviews</h3>
<hr/>

@for (var i = 0; i < Model.Count; i++)
{
    @:<div class="row justify-content-between align-items-center m-0 mb-4 p-0">

    for (var j = 0; j < 3; j++)
    {
        if (i >= Model.Count)
        {
            break;
        }

        <div class="col-3 bg-secondary rounded m-0 p-0 no-gutters">

            <div class="row align-items-center">

                <div class="col-3">
                    <img class="img-fluid d-inline-block " alt="yarn" style="width: 8rem; height: auto;"
                         src="@Model[i].Movie.PosterURL">
                </div>

                <div class="col-9">
                    <div class="row">

                        <div class="col-2 pl-4 d-inline-block">
                            <div class="ratingCircle m-0">
                                @Model[i].Rating
                            </div>
                        </div>


                        <div class="col-10 ">
                            <p class="p-0 m-0 d-inline-block ml-3" style="color: #fff; font-weight: bold"> @Model[i].Title</p>
                            @* <p class="p-0 m-0" style="color: rgba(142, 143, 157, 0.6);">@Html.DisplayFor(model => model[i].User.UserName)</p> *@
                            <p class="p-0 m-0 ml-3" style="color: rgba(142, 143, 157, 0.6);">@Model[i].Date | by Marshmelo</p>
                            <p class="p-0 m-0 ml-3" style="color: rgba(142, 143, 157, 0.6);">@Model[i].Movie.MovieName</p>
                        </div>

                    </div>

                </div>
            </div>


            <div class="row">

                <div class="col-12 text-left">
                    <p class="p-0 m-0 text-primary"> @Model[i].Content</p>
                </div>

            </div>


            <div class="row">
                <div class="col" style="color: #907f62;">
                    <hr/>
                    <a href="@Url.Action("Edit", "Review", new {id = Model[i].ReviewID})" class="mr-2">
                        <div class="btn btn-admin col-auto text-right mb-3 ml-2">
                            <i class="fas fa-pen pr-2"></i>Edit
                        </div>
                    </a>
                </div>
            </div>
            @* <img class="img-fluid d-block rounded-top" alt="yarn" *@
            @*      src="@Model[i].User.Avatar"> *@

            @* <a style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0" href="@Url.Action("Details", "Movie", new {id = @Model[i].Movie.MovieID})">Details</a> *@

        </div>

        i++;
    }

    @:</div>
}