@model System.Collections.Generic.List<yarn_rider.Models.Review>

@{
    ViewBag.Title = "Reviews";
}

<!-- loop through all reviews for the current movie (each iteration adds row and 2 cols with reviews  -->

@for (var i = 0; i < Model.Count;)
{
    @:<div class="row justify-content-between mb-4 p-0 ">

    if (i >= Model.Count)
    {
        break;
    }
    
    <div class="col-5 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].User.Avatar">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].Title</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].User.UserName | @Model[i].Date</p>
        @* <a style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0" href="@Url.Action("Delete", "Review", new {id = @Model[i].ReviewID})">Delete</a> *@
    </div>
    i++;

    if (i >= Model.Count)
    {
        break;
    }

    <div class="col-5 bg-secondary rounded p-1 m-0">
        <img class="img-fluid d-block rounded-top" alt="yarn"
             src="@Model[i].User.Avatar">
        <h6 style="color: #fff; font-weight: bold" class="px-2 pt-2 m-0">@Model[i].Title</h6>
        <p style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0"> @Model[i].User.UserName | @Model[i].Date</p>
        @* <a style="color: rgba(142, 143, 157, 0.6);" class="px-2 pt-0" href="@Url.Action("Delete", "Review", new {id = @Model[i].ReviewID})">Delete</a> *@
    </div>
    i++;

    @:</div>
}